---
title: Blog
custom_css: blog
---

<div class="offset-sm-2 col-sm-8 py-5">
    <h1 class="mb-5">Blog</h1>
    <div class="row">
        {% for post in site.posts %}
        <div class="col-sm-6 mb-5">
            <div class="card text-center position-relative">
                <img src="{{ site.url }}/assets/images/{{ post.previewBanner }}" alt="{{ post.title }} - banner"
                     class="card-img-top img-fluid"/>
                <span class="position-absolute top-0 start-50 translate-middle blogCategory blogCategory--{{ post.categories[0] }}"><small>{{ post.categories[0] }}</small></span>
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    {% if post.subtitle %}
                        <p>{{ post.subtitle }}</p>
                    {% else %}
                        <p>{{ post.excerpt }}...</p>
                    {% endif %}
                    <a href="{{ post.url }}" class="btn btn-primary">Read more</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
