// === Typography === //
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@400;600&family=Montserrat:wght@400;600&display=swap');

$font-weight-normal: 400;
$font-weight-bold: 600;

// === Resets === //
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Montserrat", sans-serif;
	margin: 0;
}