// === CATEGORIES === //
.category {
	// Local variables

	// Attributes
	height: 100%;
    justify-content: center;
    transition: background-color ease .8s;
    width: 25vw;
    max-width: 480.33px;

	&:not(:last-child) {
		border-right: solid #fff 1px;
	}

	// Pseudo-classes
	&:hover {
		background-color: rgba($color__second, .6);
	}

	// Children
	&__title {
		align-self: center;
	}
}