.bg-light {
  background: linear-gradient(90deg, $color_body 0 50%, $color-white 50% 100%) !important;
}

.navbar-brand {
  background-color: $color_body;
}

.navbar-collapse {
  background-color: $color-white;
}

.navbar-light .navbar-nav .nav-link {
  & > span {
    position: relative;
  }

  & > span:after {
    content: "";
    height: 0.5rem;
    width: 100%;
    background-color: rgba($color-main, 0.1);
    display: block;
    position: absolute;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
  }
  &:hover > span:after {
    opacity: 1;
  }
  &.active {
    font-weight: $font-weight-bold;
  }
}