.navbar .nav-item:first-child .nav-link {
  padding-left: 0;
}

// Bootstrap Override
.bg-light {
  background-color: transparent !important;
}

.navbar-light {
  .navbar-nav {
    .nav-link:focus,
    .nav-link:hover,
    .nav-link.active,
    .show > .nav-link {
      color: $color-main;
    }
    .nav-link.active {
      font-weight: $font-weight-bold;
    }
  }
  .navbar-toggler {
    border: 0;
  }
}