---
---

body {
  background: url('/assets/images/background.png') repeat;
}

.header__option {
  transition: background-color ease .8s;

  &:not(:last-child) {
    border-right: solid #fff 1px;
  }

  &:hover {
    background-color: rgba(100,103,96,0.6);
  }
}