.blogCategory {
  border-radius: 4px;
  font-weight: $font-weight-bold;
  padding: 0 5px;
  color: #6E6E6E;

  @each $name, $color in $categories {
    &--#{$name} {
      background-color: lighten($color, 18%);
    }
  }
}