.blogCategory {
  border-radius: 4px;
  font-weight: $font-weight-bold;
  padding: 0 5px;

  @each $name, $color in $categories {
    &--#{$name} {
      background-color: lighten($color, 18%);
      color: $color;
    }
  }
}