---
---

<!DOCTYPE html>
<!--suppress ALL, SyntaxError -->
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title | default: site.title }}</title>

	{% include head.html %}
</head>
<body>
	<div class="container">
		<header>
			<div class="category {% if page.url != '/' and page.url != '/about-me' %}hidden{% endif %}">
				<a href="about-me">
					<h2 class="category__title">About me</h2>
				</a>
			</div>
			<div class="category {% if page.url != '/' and page.url != '/portfolio' %}hidden{% endif %}">
				<h2 class="category__title">Portfolio</h2>
			</div>
			<div class="category {% if page.url != '/' and page.url != '/blog' %}hidden{% endif %}">
				<h2 class="category__title">Blog</h2>
			</div>
			<div class="category {% if page.url != '/' and page.url != '/contact' %}hidden{% endif %}">
				<h2 class="category__title">Contact</h2>
			</div>
		</header>
		<main class="hidden">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</main>
	</div>
</body>
</html>