@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Poppins:wght@300;500&display=swap');

$font-family_title: "Lora", serif;

$font-family_body: "Poppins", sans-serif;
$font-weight_body-normal: 300;
$font-weight_body-bold: 500;
